<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content" class="container mt-5">
    <h1 class="text-center mb-4">Nueva Reserva</h1>
    <form th:action="@{/reservas/save}" th:object="${reserva}" method="post">


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="usuario">Usuario:</label>
                    <select id="usuario" name="usuarioId" class="form-control" required>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaReserva">Fecha de Reserva</label>
                    <input type="date" class="form-control" id="fechaReserva" th:field="*{fechaReserva}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status">Estado de compra</label>
                    <select class="form-control" id="status" th:field="*{status}">
                        <option value="Reservado">Reservado</option>
                        <option value="Comprado">Comprado</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status">Generar Boleto electronico</label>
                    <select class="form-control" id="boletoElectronico" th:field="*{boletoElectronico}">
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/reservas}" class="btn btn-outline-secondary ml-2">Regresar</a>
    </form>
</div>
</body>
</html>
