<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content" class="container mt-5">
    <h1 class="text-center mb-4">Listado de Reservas</h1>

    <!-- Mostrar mensaje de confirmación exitoso -->
    <div th:if="${msg != null}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error si es necesario -->
    <div th:if="${error != null}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <!-- Enlace para crear nueva reserva -->
    <a th:href="@{/reservas/create}" class="btn btn-outline-primary mb-3">Crear nueva reserva</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Fecha de Reserva</th>
            <th>Estado de Compra</th>
            <th>Boleto Electrónico</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva : ${reservas.content}">
            <td th:text="${reserva.id}"></td>
            <td th:text="${reserva.usuario.nombre}"></td>
            <td th:text="${reserva.fechaReserva}"></td>
            <td th:text="${reserva.status}"></td>
            <td th:text="${reserva.boletoElectronico}"></td>
            <td>
                <a th:href="@{/reservas/details/{id}(id=${reserva.id})}" class="btn btn-outline-secondary btn-sm">Detalles</a>
                <a th:href="@{/reservas/edit/{id}(id=${reserva.id})}" class="btn btn-outline-info btn-sm">Editar</a>
                <a th:href="@{/reservas/remove/{id}(id=${reserva.id})}" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>

    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="numeroPaginas : ${numeropagina}">
                <a class="page-link" th:text="${numeroPaginas}" th:href="@{|/reservas?page=${numeroPaginas}|}"></a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>
