<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Vuelo</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <h1 class="text-center mb-4">Crear un nuevo vuelo</h1>
    <form th:action="@{/vuelos/save}" th:object="${vuelo}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="origen">Origen de vuelo</label>
                    <input type="text" class="form-control" id="origen" th:field="*{origen}" placeholder="Escriba el origen del vuelo" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="destino">Destino de vuelo</label>
                    <input type="text" class="form-control" id="destino" th:field="*{destino}" placeholder="Destino del vuelo" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaHorasalida">Fecha y hora de salida</label>
                    <input type="datetime-local" class="form-control" id="fechaHorasalida" th:field="*{fechaHorasalida}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaHorallegada">Fecha y hora de llegada</label>
                    <input type="datetime-local" class="form-control" id="fechaHorallegada" th:field="*{fechaHorallegada}" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="aerolinea">Aerolínea</label>
                    <select class="form-control" id="aerolinea" name="aerolineaId" required>
                        <option value="" disabled selected>Seleccione una aerolínea</option>
                        <option th:each="aerolinea : ${aerolineas}"
                                th:value="${aerolinea.id}"
                                th:text="${aerolinea.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/aerolineas}" class="btn btn-outline-secondary ml-2">Regresar</a>
    </form>
</div>

</body>
</html>
