<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<body id="page-top">
<div layout:fragment="content" class="container mt-5">
    <h1 class="text-danger">Eliminar Vuelo</h1>
    <hr>

    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9" th:text="${vuelo.id}"></dd>

        <dt class="col-sm-3">Origen</dt>
        <dd class="col-sm-9" th:text="${vuelo.origen}"></dd>

        <dt class="col-sm-3">Destino</dt>
        <dd class="col-sm-9" th:text="${vuelo.destino}"></dd>

        <dt class="col-sm-3">Fecha y Hora de Salida</dt>
        <dd class="col-sm-9" th:text="${vuelo.fechaHorasalida}"></dd>

        <dt class="col-sm-3">Fecha y Hora de Llegada</dt>
        <dd class="col-sm-9" th:text="${vuelo.fechaHorallegada}"></dd>

        <dt class="col-sm-3">Aerolínea</dt>
        <dd class="col-sm-9" th:text="${vuelo.aerolinea.nombre}"></dd>
    </dl>

    <form th:action="@{/vuelos/delete}" method="post" class="mt-4">
        <input type="hidden" name="id" th:value="${vuelo.id}">
        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
        <a th:href="@{/vuelos}" class="btn btn-outline-secondary ml-2">Regresar</a>
    </form>
</div>
</body>
</html>
