<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<body id="page-top">
<div layout:fragment="content" class="container mt-5">
    <h1 class="text-danger">Eliminar Aerolínea</h1>
    <hr>

    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9" th:text="${aerolinea.id}"></dd>

        <dt class="col-sm-3">Nombre de Aerolínea</dt>
        <dd class="col-sm-9" th:text="${aerolinea.nombre}"></dd>

        <dt class="col-sm-3">Código IATA</dt>
        <dd class="col-sm-9" th:text="${aerolinea.codigoIata}"></dd>

        <dt class="col-sm-3">Número de Atención al Cliente</dt>
        <dd class="col-sm-9" th:text="${aerolinea.numeroAtencion}"></dd>

        <dt class="col-sm-3">Tipo de Vuelo</dt>
        <dd class="col-sm-9" th:text="${aerolinea.tipoVuelo}"></dd>
    </dl>

    <form th:action="@{/aerolineas/delete}" method="post" class="mt-4">
        <input type="hidden" name="Id" th:value="${aerolinea.id}">
        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
        <a th:href="@{/aerolineas}" class="btn btn-outline-secondary ml-2">Regresar</a>
    </form>
</div>
</body>
</html>
