<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div>
        <hr>
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${aerolinea.id}"></dd>

            <dt class="col-sm-2">Nombre de Aerolinea</dt>
            <dd class="col-sm-10" th:text="${aerolinea.nombre}"></dd>

            <dt class="col-sm-2">Codigo AITA</dt>
            <dd class="col-sm-10" th:text="${aerolinea.codigoIata}"></dd>

            <dt class="col-sm-2">Numero de atencion al cliente</dt>
            <dd class="col-sm-10" th:text="${aerolinea.numeroAtencion}"></dd>

            <dt class="col-sm-2">Tipo de vuelo</dt>
            <dd class="col-sm-10" th:text="${aerolinea.tipoVuelo}"></dd>

            <form th:action="@{/aerolineas/delete}" method="post">
                <input type="hidden" name="Id" th:value="${aerolinea.id}">
                <input type="submit" value="Eliminar" class="btn btn-outline-danger"> |
                <a th:href="@{/aerolineas}">Regresar</a>
            </form>
        </dl>
    </div>
</div>