<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <form th:action="@{/aerolineas/save}" th:object="${aerolinea}" method="post">
       <input type="hidden" th:filed="*{id}">
       <h1>Editar aerolinea</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre de Aerolinea</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Escriba el nombre de la aerolinea">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="codigo">Codigo AITA</label>
                    <input type="text" class="form-control" id="codigo" th:field="*{codigoAita}" placeholder="Codigo AITA">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Atencion al cliente</label>
                    <input type="text" class="form-control" id="telefono" th:filed="*{numeroAtencion}" placeholder="Numero de atencion al cliente">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipoVuelo">Tipo de vuelo</label>
                    <input type="text" class="form-control" id="tipoVuelo" th:filed="*{tipoVuelo}" placeholder="Tipo de vuelos">
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a th:href="@{/aerolineas}">Regresar</a>
    </form>

</div>